.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  min-height: calc(100vh - 64px - 69px);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
